/* CSS declarations go here */

header {
	text-align: center;
}

.event_grid .event {
	float: left;
	margin: 10px;
	width: 240px;
	background-color: #FF7BAC;
	padding-left: 15px;
	padding-right: 15px;
}

.event h4 {
	text-align: center;
}