/* CSS declarations go here */

header {
	text-align: center;
}

footer {
	text-align: center;
}

.event_grid .eventPost {
	margin: 10px;
	width: 240px;
	background-color: #FF7BAC;
	padding-left: 15px;
	padding-right: 15px;
}

.eventPost h4 {
	text-align: center;
}

header #tags {
	display:inline;
	vertical-align: middle;
}

header #sort {
	margin-top: 3px;
	margin-right: 40px;
}

header #add-tag {
	margin-top: 3px;
	margin-left: 40px;
}

header .accordion-inner {
	margin-top: 8px;
}

footer .copyRight {
	color:#808080
}

.date:before {
	font-weight:bold;
	content: "Date: ";
}

.location:before {
	font-weight:bold;
	content: "Location: ";
}

.organizer:before {
	font-weight:bold;
	content: "Organizer: ";
}

.description:before {
	font-weight:bold;
	content: "Description: ";
}