header {
	text-align: center;

	#tags {
		display:inline;
		vertical-align: middle;
	}

	a.remove-tag-tag:hover {
		text-decoration: line-through;
	}

	#sort {
		margin-top: 3px;
		margin-right: 40px;
	}

	#add-tag {
		margin-top: 3px;
		margin-left: 40px;
	}

	.accordion-inner {
		margin-top: 8px;
		padding-top: 17px;
	}

	.datepickers {
		//margin-left:23%;
		float: center;
		margin: 0 auto;
		text-align:left;
		width: 442px !important;

		.left {
			width: 220px;
		}

		.right {
			width: 220px;
		}
	}
	
}