.event_grid .eventPost {
	margin: 10px;
	width: 240px;
	background-color: #FF7BAC;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;

	h4 {
		text-align: center;
	}

	.date:before {
		font-weight:bold;
		content: "Date: ";
	}

	.location:before {
		font-weight:bold;
		content: "Location: ";
	}

	.organizer:before {
		font-weight:bold;
		content: "Organizer: ";
	}

	.description:before {
		font-weight:bold;
		content: "Description: ";
	}

	.c {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&:hover {
		box-shadow: 0px 0px 5px #888888;//#888888;
		cursor: pointer;
	}
	
}

.event_grid .noposts {
	text-align: center;
}